body {
    margin: 0;
    height: 100vh;
<<<<<<< Updated upstream
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "josefin sans";
    background: #eee;
}

h1 {
    letter-spacing: 5px;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
}

p {
    color: rgba(0,0,0,.4);
    font-size: larger;
}

=======
    font-family: 'PT Sans', sans-serif;
    background: #eee;
}

>>>>>>> Stashed changes
header {
    text-align: center;
}

<<<<<<< Updated upstream
=======
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

>>>>>>> Stashed changes
main {
    max-width: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main figure {
    margin: 0;
    padding: 1rem;
}

main figure svg > * {
    opacity: 0;
}

main figure svg #ground             { opacity: 1; }
main figure.scaffold svg #scaffold  { opacity: 1; }
main figure.head     svg #head      { opacity: 1; }
main figure.body     svg #body      { opacity: 1; }
main figure.arms     svg #arms      { opacity: 1; }
main figure.legs     svg #legs      { opacity: 1; }

.btn {
    width: 3rem;
    height: 3rem;
    padding: .5rem .25rem;
    border: 2px solid #222;
    margin: .25rem;
    background: rgb(114, 196, 197);
    font-size: large;
    font-family: "josefin sans";
    border-radius: 5px;
}

.btn-info {
    width: 6rem;
    height: 3rem;
    border: 2px solid #222;
    margin: 1rem;
    background: rgb(116, 116, 116);
    color: white;
    font-size: large;
    font-family: "josefin sans";
    border-radius: 5px;
    letter-spacing: 1px;
}

.btn:hover, .btn-info:hover {
    opacity: 70%;
}

#wordSpotlight {
    font-size: x-large;
    letter-spacing: 5px;
}

#keyboard {
    margin: 2rem;
    width: 40rem;
    text-align: center;
    font-size: x-large;
}